In [1]:
import pandas as pd

In [5]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
import pandas as pd
weather_data = [(32,6,'Rain'),
               (30,10,'Sunny'),
               (38,16,'Hot'),
               (35,96,'Rain')]
df = pd.DataFrame(weather_data,columns=['temp.','winds','weather']) #creating csv file or loading to anoh=ther csv
df

   temp.  winds weather
0     32      6    Rain
1     30     10   Sunny
2     38     16     Hot
3     35     96    Rain

In [8]:
df.shape #total number of rows and columns

(4, 3)

In [12]:
 df.head() #print first few rows

   temp.  winds weather
0     32      6    Rain
1     30     10   Sunny
2     38     16     Hot
3     35     96    Rain

In [11]:
df.tail() #print last few rows

   temp.  winds weather
0     32      6    Rain
1     30     10   Sunny
2     38     16     Hot
3     35     96    Rain

In [13]:
df[2:3] #Slicing

   temp.  winds weather
2     38     16     Hot

In [15]:
 df.columns

Index(['temp.', 'winds', 'weather'], dtype='object')

In [18]:
df.winds #for one column

0     6
1    10
2    16
3    96
Name: winds, dtype: int64

In [19]:
df[['temp.','winds']]

   temp.  winds
0     32      6
1     30     10
2     38     16
3     35     96

In [20]:
df['temp.'].max()

38

In [21]:
df['temp.'].describe() #TO tell whole description about data

count     4.00
mean     33.75
std       3.50
min      30.00
25%      31.50
50%      33.50
75%      35.75
max      38.00
Name: temp., dtype: float64

In [23]:
df[df.winds == df.winds.max()] #return max wind row

   temp.  winds weather
3     35     96    Rain

In [25]:
df.weather[df.winds == df.winds.max()] #return max wind row with its weather

3    Rain
Name: weather, dtype: object